
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);

}
/* .maincontainer {
    border-radius: 5px;
    color: rgb(180, 210, 200);
} */
.maincontainer {
    width: 35rem;
    height: 55rem;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow: auto; */
    flex: 1 100%;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #032e4613 , #40818211, #58dbe211);
    box-shadow: 1px 4px 8px 5px rgba(149, 250, 253, 0.212);
}
.container {
    height: 52em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0;
    margin: 0;
    flex: 20 100%;
    background-image: linear-gradient(to bottom, #012e4713 , #4081822d, #58dbe21f);
    /* background-color: rgb(3, 5, 8); */
    overflow: auto;
}

.container::-webkit-scrollbar{
    width: 5px;
}
.container::-webkit-scrollbar-thumb{
    background-color: rgba(4, 226, 255, 0.100);
    border-top-right-radius: 5px;
}
/* ol {
    padding: 5;
} */

.content-A {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: flex-end;
}
.content-B {
    margin-left: 1.5rem;
    text-align: justify;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}
.item::marker {
    vertical-align: middle;
    color: 1px solid rgb(111, 171, 173);

}
.item {
    color: rgb(152, 172, 158);
    align-items:flex-start;
    line-break: normal;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(31, 42, 48);
}
.item:hover {
    padding: 10px;
    background-color: rgba(93, 145, 180, 0.082);
}
.item:active {
    padding: 10px;
    background-color: rgba(185, 227, 255, 0.226);
}
.footer{
    width: 100%;
    height: 50px;
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: flex-end;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(10, 10, 10);
}
button{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}
.icon-skip-back {
margin: 0 5px;
color: rgb(104, 104, 104);
}
.icon-skip-back:hover {
    margin: 0 5px;
    color: rgb(122, 122, 122);
}
.icon-play {
margin: 0 5px;
color: rgb(104, 104, 104);
}
.icon-play:hover {
    margin: 0 5px;
    transform: scale(1.1);
    color: rgb(122, 122, 122);
}
.icon-skip-foward {
    margin: 0 5px;
    color: rgb(104, 104, 104);
}
.icon-skip-foward:hover {
    transform: scale(1.1);
    margin: 0 5px;
    color: rgb(122, 122, 122);
}